.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 34, 107, 0.693);
}

.welcome-text {
  font-size: 40px;
}

.get-started-btn {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.get-started-btn:hover {
  scale: 1.3;
}

.code-span {
  color: white;
}

.bar-span {
  color: aqua;
}
